/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: 'Noto Sans TC',roboto, sans-serif;
}

h1{
    font-size: 48px;  
    line-height: 72px;
    font-weight: bold;
}
h2{
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
}
h3{
    font-size: 20px;
    line-height: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
.container{
    max-width: 1296px;
    margin: 0 auto;
}

.header img{
    width: 80px;
}
.header ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header ul li{
    margin-left: 64px; 
}
a {
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    color: #fff;
    text-decoration: none; 
    
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer p{
    font-family: 16px;
    line-height: 24px;
}
.list{
    width: 70%;
    display: flex;
    justify-content: flex-start;
}
.list li{
    margin-right: 48px;   
    
}
.list a {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #fff;
    text-decoration: none; }
.flex-end{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
.flex-end li{
    margin-left: 32px;
}
.flex-end img{
    width: 48px;
}
.bg-red{
    background: #aa0601;
}
.ml-4{
    margin-left: 32px;
}
.mb-4{
    margin-bottom: 32px;
}
.border-top{
    display: flex;
    border-top: 1px solid #fff;
    padding: 32px 0;
    margin-top: 32px;
}
.border-top p{
    color: #fff;
    width: 50%;
}
.border-top ul{
    width: 50%;
}
.border-top li{
    margin-left: 48px;
}
@media screen and (max-width:992px) {
    .header{
        padding: 36px;
    }
    .container{
        max-width: 696px;
    }
    .list{
        width: 78%;
    }
    .flex-end{
        width: 22%;
    }
    .flex-end li{
        margin-left: 16px;
    }
    .flex-end img{
        width: 40px;
    }
    .border-top{
        display: none;
    }
}
@media screen and (max-width:767px) {
    h1{
        font-size:24px;  
        line-height: 36px;
        font-weight: bold;
    }
    h2{
        font-size: 24px;
        line-height: 36px;
        font-weight: bold;
    }
    h3{
        font-size: 20px;
        line-height: 30px;
    }
    .header{    
        display: block;
        padding: 0px;
        /* justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center; */
        /* padding: 16px; */
    }
    .header img{
        display: block;
        width: 80px;
        margin: 0 auto;
        padding: 16px 0;
    }
    .header ul{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
    }
    .header ul li{
        border: 1px solid #fff;
        box-sizing: border-box;
        display: inline-block;
        width: 50%;
        /* padding: auto; */
        margin: 0 auto;
        text-align: center;
        /* margin-left: 64px;  */
    }
    a {
        font-size: 16px;
        line-height: 24px;
        font-weight: normal;
        color: #fff;
        text-decoration: none; 
        }
    .container{
        max-width: 376px;
        margin: 0 auto;
    }
    .list{
        display: none;
    }
    .footer{
        flex-direction:row-reverse;
        }
    .footer .flex-end{
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }
    .border-top{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .border-top ul{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .border-top p{
        color: #fff;
        width: 100%;
        font-size: 16px;line-height: 24px;
    }
    .flex-end li {
        margin-left: 8px;
    }
    
}